In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
gdp_df = pd.read_csv('../data/raw_data/per-capita-plastic-waste-vs-gdp-per-capita.csv')

In [35]:
display(gdp_df.head(30))

,Entity,Code,Year,Per capita plastic waste (kg/person/day),"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2002,NaN,1280.4631,21000258.0,NaN
2,Afghanistan,AFG,2003,NaN,1292.3335,22645136.0,NaN
3,Afghanistan,AFG,2004,NaN,1260.0605,23553554.0,NaN
4,Afghanistan,AFG,2005,NaN,1352.3207,24411196.0,NaN
5,Afghanistan,AFG,2006,NaN,1366.9932,25442946.0,NaN
6,Afghanistan,AFG,2007,NaN,1528.3446,25903306.0,NaN
7,Afghanistan,AFG,2008,NaN,1556.8445,26427204.0,NaN
8,Afghanistan,AFG,2009,NaN,1823.7426,27385310.0,NaN
9,Afghanistan,AFG,2010,NaN,2026.1638,28189672.0,NaN
10,Afghanistan,AFG,2011,NaN,1961.0963,29249156.0,NaN
11,Afghanistan,AFG,2012,NaN,2122.8308,30466484.0,NaN
12,Afghanistan,AFG,2013,NaN,2165.3408,31541216.0,NaN
13,Afghanistan,AFG,2014,NaN,2144.4497,32716214.0,NaN
14,Afghanistan,AFG,2015,NaN,2108.7140,33753500.0,Asia
15,Afghanistan,AFG,2016,NaN,2101.4220,34636212.0,NaN
16,Afghanistan,AFG,2017,NaN,2096.0930,35643420.0,NaN
17,Afghanistan,AFG,2018,NaN,2060.6990,36686788.0,NaN
18,Afghanistan,AFG,2019,NaN,2079.9219,37769496.0,NaN
19,Afghanistan,AFG,2020,NaN,1968.3410,38972236.0,NaN
20,Afghanistan,AFG,2021,NaN,1516.3057,40099460.0,NaN
21,Afghanistan,AFG,-10000,NaN,NaN,14737.0,NaN
22,Afghanistan,AFG,-9000,NaN,NaN,20405.0,NaN
23,Afghanistan,AFG,-8000,NaN,NaN,28253.0,NaN
24,Afghanistan,AFG,-7000,NaN,NaN,39120.0,NaN
25,Afghanistan,AFG,-6000,NaN,NaN,54166.0,NaN
26,Afghanistan,AFG,-5000,NaN,NaN,74999.0,NaN
27,Afghanistan,AFG,-4000,NaN,NaN,306250.0,NaN
28,Afghanistan,AFG,-3000,NaN,NaN,537500.0,NaN
29,Afghanistan,AFG,-2000,NaN,NaN,768751.0,NaN

In [36]:
gdp_df.isna().sum()

Entity                                                     0
Code                                                    3537
Year                                                       0
Per capita plastic waste (kg/person/day)               58374
GDP per capita, PPP (constant 2017 international $)    52214
Population (historical estimates)                        308
Continent                                              58275
dtype: int64

In [37]:
gdp_df.shape

(58560, 7)

In [38]:
gdp_df['Year'].unique()

array([  2015,   2002,   2003,   2004,   2005,   2006,   2007,   2008,
         2009,   2010,   2011,   2012,   2013,   2014,   2016,   2017,
         2018,   2019,   2020,   2021, -10000,  -9000,  -8000,  -7000,
        -6000,  -5000,  -4000,  -3000,  -2000,  -1000,      0,    100,
          200,    300,    400,    500,    600,    700,    800,    900,
         1000,   1100,   1200,   1300,   1400,   1500,   1600,   1700,
         1710,   1720,   1730,   1740,   1750,   1760,   1770,   1780,
         1790,   1800,   1801,   1802,   1803,   1804,   1805,   1806,
         1807,   1808,   1809,   1810,   1811,   1812,   1813,   1814,
         1815,   1816,   1817,   1818,   1819,   1820,   1821,   1822,
         1823,   1824,   1825,   1826,   1827,   1828,   1829,   1830,
         1831,   1832,   1833,   1834,   1835,   1836,   1837,   1838,
         1839,   1840,   1841,   1842,   1843,   1844,   1845,   1846,
         1847,   1848,   1849,   1850,   1851,   1852,   1853,   1854,
         1855,   1856,   1857,   1858,   1859,   1860,   1861,   1862,
         1863,   1864,   1865,   1866,   1867,   1868,   1869,   1870,
         1871,   1872,   1873,   1874,   1875,   1876,   1877,   1878,
         1879,   1880,   1881,   1882,   1883,   1884,   1885,   1886,
         1887,   1888,   1889,   1890,   1891,   1892,   1893,   1894,
         1895,   1896,   1897,   1898,   1899,   1900,   1901,   1902,
         1903,   1904,   1905,   1906,   1907,   1908,   1909,   1910,
         1911,   1912,   1913,   1914,   1915,   1916,   1917,   1918,
         1919,   1920,   1921,   1922,   1923,   1924,   1925,   1926,
         1927,   1928,   1929,   1930,   1931,   1932,   1933,   1934,
         1935,   1936,   1937,   1938,   1939,   1940,   1941,   1942,
         1943,   1944,   1945,   1946,   1947,   1948,   1949,   1950,
         1951,   1952,   1953,   1954,   1955,   1956,   1957,   1958,
         1959,   1960,   1961,   1962,   1963,   1964,   1965,   1966,
         1967,   1968,   1969,   1970,   1971,   1972,   1973,   1974,
         1975,   1976,   1977,   1978,   1979,   1980,   1981,   1982,
         1983,   1984,   1985,   1986,   1987,   1988,   1989,   1990,
         1991,   1992,   1993,   1994,   1995,   1996,   1997,   1998,
         1999,   2000,   2001,   1788,   1555,   1640,   1785])

In [39]:
gdp_df = gdp_df.drop(columns =['Continent'])

In [40]:
gdp_df.columns

Index(['Entity', 'Code', 'Year', 'Per capita plastic waste (kg/person/day)',
       'GDP per capita, PPP (constant 2017 international $)',
       'Population (historical estimates)'],
      dtype='object')

In [41]:
##It seems like there is only waste per capita data for 2010 available
gdp_df_2010 = gdp_df.dropna(subset=['Per capita plastic waste (kg/person/day)'])

gdp_df_2010.head()
print(gdp_df_2010.shape)

(186, 6)

In [42]:
gdp_df_2010.isna().sum()

Entity                                                  0
Code                                                    0
Year                                                    0
Per capita plastic waste (kg/person/day)                0
GDP per capita, PPP (constant 2017 international $)    37
Population (historical estimates)                       4
dtype: int64

In [44]:
cols = []
for colname in gdp_df_2010.columns:
    cols.append(colname.lower())

gdp_df_2010.columns = cols

In [45]:
gdp_df_2010.columns

Index(['entity', 'code', 'year', 'per capita plastic waste (kg/person/day)',
       'gdp per capita, ppp (constant 2017 international $)',
       'population (historical estimates)'],
      dtype='object')

In [46]:
gdp_df_2010 = gdp_df_2010.rename(columns={'per capita plastic waste (kg/person/day)':'per_capita_plastic_waste',
                                'gdp per capita, ppp (constant 2017 international $)':'gdp_per_capita',
                                'population (historical estimates)':'population'})

In [47]:
gdp_df_2010.head()

,entity,code,year,per_capita_plastic_waste,gdp_per_capita,population
596,Albania,ALB,2010,0.069,10751.4210,2913402.0
855,Algeria,DZA,2010,0.144,11007.7470,35856348.0
1487,Angola,AGO,2010,0.062,7691.1313,23364196.0
1746,Anguilla,AIA,2010,0.252,NaN,13192.0
1871,Antigua and Barbuda,ATG,2010,0.660,18702.0900,85710.0

In [48]:
##Checking for hich
rows_with_nan = gdp_df_2010[gdp_df_2010['gdp_per_capita'].isna()]

# Display the rows with NaN values
display(rows_with_nan)

,entity,code,year,per_capita_plastic_waste,gdp_per_capita,population
1746,Anguilla,AIA,2010,0.252,NaN,13192.0
7394,British Virgin Islands,VGB,2010,0.252,NaN,27578.0
10117,Channel Islands,OWID_CIS,2010,0.252,NaN,NaN
10637,Christmas Island,CXR,2010,0.252,NaN,NaN
10639,Cocos Islands,CCK,2010,0.252,NaN,NaN
11399,Cook Islands,COK,2010,0.144,NaN,17237.0
12261,Cuba,CUB,2010,0.089,NaN,11290420.0
13713,Djibouti,DJI,2010,0.103,NaN,919206.0
15824,Eritrea,ERI,2010,0.045,NaN,3147733.0
17531,Falkland Islands,FLK,2010,0.252,NaN,3206.0
17631,Faroe Islands,FRO,2010,0.252,NaN,48432.0
18523,French Guiana,GUF,2010,0.144,NaN,228469.0
18647,French Polynesia,PYF,2010,0.252,NaN,283795.0
20024,Gibraltar,GIB,2010,0.252,NaN,31289.0
20357,Greenland,GRL,2010,0.252,NaN,56374.0
20720,Guadeloupe,GLP,2010,0.144,NaN,403073.0
20844,Guam,GUM,2010,0.252,NaN,164916.0
21185,Guernsey,GGY,2010,0.252,NaN,60811.0
32434,Martinique,MTQ,2010,0.252,NaN,392183.0
33947,Monaco,MCO,2010,0.252,NaN,33203.0
34650,Montserrat,MSR,2010,0.144,NaN,4960.0
36539,Netherlands Antilles,ANT,2010,0.252,NaN,311534.0
36596,New Caledonia,NCL,2010,0.252,NaN,261435.0
37734,Niue,NIU,2010,0.252,NaN,1838.0
37806,Norfolk Island,NFK,2010,0.103,NaN,NaN
38099,North Korea,PRK,2010,0.054,NaN,24686436.0
38690,Northern Mariana Islands,MNP,2010,0.252,NaN,54109.0
42511,Reunion,REU,2010,0.144,NaN,890144.0
43463,Saint Helena,SHN,2010,0.144,NaN,5338.0
44128,Saint Pierre and Miquelon,SPM,2010,0.252,NaN,6075.0
47645,Somalia,SOM,2010,0.054,NaN,12026650.0
50579,Syria,SYR,2010,0.178,NaN,22337558.0
50838,Taiwan,TWN,2010,0.252,NaN,23083086.0
52133,Tokelau,TKL,2010,0.103,NaN,1389.0
53482,Turks and Caicos Islands,TCA,2010,0.252,NaN,29751.0
56678,Venezuela,VEN,2010,0.252,NaN,28715026.0
57656,Yemen,YEM,2010,0.103,NaN,24743944.0

In [78]:
#gdp_missing_data_df = pd.read_csv('../data/raw_data/UN_gdp_2010.csv')

#display(gdp_missing_data_df.head())

#print(gdp_missing_data_df.isna().sum())

#print(gdp_missing_data_df.shape)

In [79]:
#cols = []
#for colname in gdp_missing_data_df.columns:
 #   cols.append(colname.lower())

#gdp_missing_data_df.columns = cols

In [80]:
#gdp_missing_data_df = gdp_missing_data_df.rename(columns={'country or area':'entity',
                               # 'value':'gdp_per_capita_value'})

In [81]:
#gdp_missing_data_df.columns

In [82]:
#gdp_missing_data_df.head(30)

In [83]:
#data_2010_df = pd.merge(gdp_df_2010, gdp_missing_data_df, on='entity', how='left')

#display(data_2010_df.head(30))

#print(data_2010_df.isna().sum())

#print(data_2010_df.shape)

#print(data_2010_df['entity'].unique())

In [84]:
#rows_with_nan = data_2010_df[data_2010_df['gdp_per_capita_value'].isna()]

#display(rows_with_nan)

In [89]:
gdp_df_2010 = gdp_df_2010.dropna(subset=['gdp_per_capita'])

display(gdp_df_2010.head())

print(gdp_df_2010.shape)

print(gdp_df_2010.isna().sum())

,entity,code,year,per_capita_plastic_waste,gdp_per_capita,population
596,Albania,ALB,2010,0.069,10751.4210,2913402.0
855,Algeria,DZA,2010,0.144,11007.7470,35856348.0
1487,Angola,AGO,2010,0.062,7691.1313,23364196.0
1746,Anguilla,AIA,2010,0.252,19469.4000,13192.0
1871,Antigua and Barbuda,ATG,2010,0.660,18702.0900,85710.0

(150, 6)
entity                      0
code                        0
year                        0
per_capita_plastic_waste    0
gdp_per_capita              0
population                  0
dtype: int64

In [104]:
import os  
os.makedirs('../data/cleaned_data', exist_ok=True)  
gdp_df_2010.to_csv('../data/cleaned_data/2010_gdp_pop_final.csv')